.folder-open {
    background: url('#{facesContext.externalContext.requestContextPath}/resources/images/node-select16x16.png')!important;
    height: 16px;
    width: 16px;
}

.folder-collapsed {
    background: url('#{facesContext.externalContext.requestContextPath}/resources/images/node16x16.png')!important;
    height: 16px;
    width: 16px;
}

.document-node {
    background: url('#{facesContext.externalContext.requestContextPath}/resources/images/document-node16x16.png')!important;
    height: 16px;
    width: 16px;
}