<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans

http://www.springframework.org/schema/beans/spring-beans-3.0.xsd

http://www.springframework.org/schema/tx

http://www.springframework.org/schema/tx/spring-tx-3.0.xsd

http://www.springframework.org/schema/context

http://www.springframework.org/schema/context/spring-context-3.0.xsd">

 <!-- Beans Declarations -->

 <bean id="Kanun" class="hud.iys.model.Kanun"/>
 <bean id="MevzuatSeti" class="hud.iys.model.MevzuatSeti"/>
 <bean id="Mevzuat" class="hud.iys.model.Mevzuat"/>
 <bean id="KanunIcerik" class="hud.iys.model.KanunIcerik"/>
 <bean id="MaddeIcerik" class="hud.iys.model.MaddeIcerik"/>
 <bean id="DipnotMI" class="hud.iys.model.DipnotMI"/>
 <bean id="DipnotKI" class="hud.iys.model.DipnotKI"/> 
 <bean id="DipnotTI" class="hud.iys.model.DipnotTI"/> 
 <bean id="Teblig" class="hud.iys.model.Teblig"/>
 <bean id="TebligIcerik" class="hud.iys.model.TebligIcerik"/>
 <bean id="TebligMaddeIcerik" class="hud.iys.model.TebligMaddeIcerik"/> 
 <bean id="MevzuatIcerikTip" class="hud.iys.model.MevzuatIcerikTip"/>
 <bean id="MevzuatIcerikEsleme" class="hud.iys.model.MevzuatIcerikEsleme"/>
 <bean id="Link" class="hud.iys.model.Link"/>
  
 <!-- Service Declarations -->
 
 <bean id="KanunService" class="hud.iys.service.KanunService">
  <property name="kanunDAO" ref="KanunDAO" />
 </bean>
 <bean id="MevzuatSetiService" class="hud.iys.service.MevzuatSetiService">
  <property name="mevzuatSetiDAO" ref="MevzuatSetiDAO" />
 </bean>
 <bean id="MevzuatService" class="hud.iys.service.MevzuatService">
  <property name="mevzuatDAO" ref="MevzuatDAO" />
 </bean>
 <bean id="KanunIcerikService" class="hud.iys.service.KanunIcerikService">
  <property name="kanunIcerikDAO" ref="KanunIcerikDAO" />
 </bean>
 <bean id="MaddeIcerikService" class="hud.iys.service.MaddeIcerikService">
  <property name="maddeIcerikDAO" ref="MaddeIcerikDAO" />
 </bean>
 <bean id="DipnotMIService" class="hud.iys.service.DipnotMIService">
  <property name="DipnotMIDAO" ref="DipnotMIDAO" />
 </bean>
 <bean id="DipnotKIService" class="hud.iys.service.DipnotKIService">
  <property name="DipnotKIDAO" ref="DipnotKIDAO" />
 </bean>
 <bean id="DipnotTIService" class="hud.iys.service.DipnotTIService">
  <property name="DipnotTIDAO" ref="DipnotTIDAO" />
 </bean>
 <bean id="TebligService" class="hud.iys.service.TebligService">
  <property name="tebligDAO" ref="TebligDAO" />
 </bean>
 <bean id="TebligIcerikService" class="hud.iys.service.TebligIcerikService">
  <property name="tebligIcerikDAO" ref="TebligIcerikDAO" />
 </bean>
 <bean id="TebligMaddeIcerikService" class="hud.iys.service.TebligMaddeIcerikService">
  <property name="tebligMaddeIcerikDAO" ref="TebligMaddeIcerikDAO" />
 </bean>
 <bean id="MevzuatIcerikTipService" class="hud.iys.service.MevzuatIcerikTipService">
  <property name="mevzuatIcerikTipDAO" ref="MevzuatIcerikTipDAO" />
 </bean>
 <bean id="MevzuatIcerikEslemeService" class="hud.iys.service.MevzuatIcerikEslemeService">
  <property name="mevzuatIcerikEslemeDAO" ref="MevzuatIcerikEslemeDAO" />
 </bean>
 <bean id="LinkService" class="hud.iys.service.LinkService">
  <property name="linkDAO" ref="LinkDAO" />
 </bean>
 
 <!-- DAO Declarations -->

 <bean id="KanunDAO" class="hud.iys.dao.KanunDAO">
  <property name="sessionFactory" ref="SessionFactory" />
 </bean>
 <bean id="MevzuatSetiDAO" class="hud.iys.dao.MevzuatSetiDAO">
  <property name="sessionFactory" ref="SessionFactory" />
 </bean>
 <bean id="MevzuatDAO" class="hud.iys.dao.MevzuatDAO">
  <property name="sessionFactory" ref="SessionFactory" />
 </bean>
 <bean id="KanunIcerikDAO" class="hud.iys.dao.KanunIcerikDAO">
  <property name="sessionFactory" ref="SessionFactory" />
 </bean>
 <bean id="MaddeIcerikDAO" class="hud.iys.dao.MaddeIcerikDAO">
  <property name="sessionFactory" ref="SessionFactory" />
 </bean>
 <bean id="DipnotMIDAO" class="hud.iys.dao.DipnotMIDAO">
  <property name="sessionFactory" ref="SessionFactory" />
 </bean> 
 <bean id="DipnotKIDAO" class="hud.iys.dao.DipnotKIDAO">
  <property name="sessionFactory" ref="SessionFactory" />
 </bean> 
 <bean id="DipnotTIDAO" class="hud.iys.dao.DipnotTIDAO">
  <property name="sessionFactory" ref="SessionFactory" />
 </bean> 
 <bean id="TebligDAO" class="hud.iys.dao.TebligDAO">
  <property name="sessionFactory" ref="SessionFactory" />
 </bean>
 <bean id="TebligIcerikDAO" class="hud.iys.dao.TebligIcerikDAO">
  <property name="sessionFactory" ref="SessionFactory" />
 </bean>
 <bean id="TebligMaddeIcerikDAO" class="hud.iys.dao.TebligMaddeIcerikDAO">
  <property name="sessionFactory" ref="SessionFactory" />
 </bean>
 <bean id="MevzuatIcerikTipDAO" class="hud.iys.dao.MevzuatIcerikTipDAO">
  <property name="sessionFactory" ref="SessionFactory" />
 </bean>
 <bean id="MevzuatIcerikEslemeDAO" class="hud.iys.dao.MevzuatIcerikEslemeDAO">
  <property name="sessionFactory" ref="SessionFactory" />
 </bean>
 <bean id="LinkDAO" class="hud.iys.dao.LinkDAO">
  <property name="sessionFactory" ref="SessionFactory" />
 </bean>
 
 <!-- Data Source Declaration -->

<bean id="DataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="com.mysql.jdbc.Driver" />
    <property name="url" value="jdbc:mysql://localhost:3306/preproddb?autoReconnect=true&amp;useUnicode=true&amp;characterSetResults=UTF-8&amp;characterEncoding=UTF-8" />
    <property name="username" value="root" />
    <property name="password" value="Hud1234" />
</bean>

 <!-- Session Factory Declaration -->
 <bean id="SessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
  <property name="dataSource" ref="DataSource" />
  <property name="annotatedClasses">
   <list>
    <value>hud.iys.model.Kanun</value>
    <value>hud.iys.model.MevzuatSeti</value>
    <value>hud.iys.model.Mevzuat</value>
    <value>hud.iys.model.KanunIcerik</value>
    <value>hud.iys.model.KanunIcerik_TEMP</value>        
    <value>hud.iys.model.MaddeIcerik</value>
    <value>hud.iys.model.DipnotMI</value>
    <value>hud.iys.model.DipnotKI</value>
    <value>hud.iys.model.DipnotTI</value>
    <value>hud.iys.model.Teblig</value>
    <value>hud.iys.model.TebligIcerik</value>    
    <value>hud.iys.model.TebligMaddeIcerik</value>
    <value>hud.iys.model.MevzuatIcerikTip</value>
    <value>hud.iys.model.MevzuatIcerikEsleme</value>
    <value>hud.iys.model.Link</value>
   </list>
  </property>
  <property name="hibernateProperties">
   <props>
    <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
    <prop key="hibernate.show_sql">false</prop>
    <prop key="hibernate.connection.useUnicode">true</prop>
	<prop key="hibernate.connection.characterEncoding">utf8</prop>
   </props>
  </property>
 </bean>

 <!-- Enable the configuration of transactional behavior based on annotations -->
    <tx:annotation-driven transaction-manager="txManager"/>

 <!-- Transaction Manager is defined -->
    <bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
       <property name="sessionFactory" ref="SessionFactory"/>
    </bean>

</beans>